---
layout: base
eleventyExcludeFromCollections: true
---

<h2 class="visuallyHidden">記録</h2>

<ol class="posts">
{%- for post in collections.postDescending | reverse -%}
  <li class="postsItem">
    <p>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    </p>
    <p>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </p>
  </li>
{%- endfor -%}
</ol>
