<!doctype html>
<html class="font-serif leading-normal">
  <head>
    <title>
      {% if title %}
        {{title}} - {{metadata.title}}
      {% else %}
         {{metadata.title}}
      {% endif %}
    </title>

    <!-- Code snippet to speed up Google Fonts rendering: googlefonts.3perf.com -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:900|Noto+Serif+JP" as="fetch" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat&text=uknmr">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono:400i&text=acefinorstuvwy">
    <script>
    !function(e,n,t){"use strict";var o="https://fonts.googleapis.com/css?family=Noto+Sans+JP:900|Noto+Serif+JP",r="__3perf_googleFonts_1e99a";function c(e){(n.head||n.body).appendChild(e)}function a(){var e=n.createElement("link");e.href=o,e.rel="stylesheet",c(e)}function f(e){if(!n.getElementById(r)){var t=n.createElement("style");t.id=r,c(t)}n.getElementById(r).innerHTML=e}e.FontFace&&e.FontFace.prototype.hasOwnProperty("display")?(t[r]&&f(t[r]),fetch(o).then(function(e){return e.text()}).then(function(e){return e.replace(/@font-face {/g,"@font-face{font-display:swap;")}).then(function(e){return t[r]=e}).then(f).catch(a)):a()}(window,document,localStorage);
    </script>
    <!-- End of code snippet for Google Fonts -->

    {% set css %}{% include "src/style.min.css" %}{% endset %}
    <style>{{ css | safe }}</style>
  </head>

  <body class="bg-grey-lightest max-w-md p-8 pt-0 m-auto">
    <header class="mt-20">
      <h1 class="-m-1 font-logo font-normal text-4xl leading-none">
        <a href="{{ '/' | url }}" class="no-underline text-black">uknmr</a>
      </h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="mt-32">
      <p class="text-xs text-center">このサイトは <a href="https://www.11ty.io/">Eleventy</a> でつくり、<a href="https://pages.github.com/">GitHub Pages</a> にのせています。<a href="https://github.com/uknmr/uknmr.github.io">GitHub</a> にソースコードがあります。</p>
    </footer>
  </body>
</html>