<!doctype html>
<html class="font-serif leading-normal text-black">
  <head>
    <title>
      {% if title %}
        {{title}} - {{metadata.title}}
      {% else %}
         {{metadata.title}}
      {% endif %}
    </title>

    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{ '/css/style.min.css' | url }}">
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:900|Noto+Serif+JP&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Caveat&text=uknmr&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Space+Mono:400i&text=acefinorstuvwy&display=swap">
    <script>
      (function(a,b,c){var d=a.history,e=document,f=navigator||{},g=localStorage,
      h=encodeURIComponent,i=d.pushState,k=function(){return Math.random().toString(36)},
      l=function(){return g.cid||(g.cid=k()),g.cid},m=function(r){var s=[];for(var t in r)
      r.hasOwnProperty(t)&&void 0!==r[t]&&s.push(h(t)+"="+h(r[t]));return s.join("&")},
      n=function(r,s,t,u,v,w,x){var z="https://www.google-analytics.com/collect",
      A=m({v:"1",ds:"web",aip:c.anonymizeIp?1:void 0,tid:b,cid:l(),t:r||"pageview",
      sd:c.colorDepth&&screen.colorDepth?screen.colorDepth+"-bits":void 0,dr:e.referrer||
      void 0,dt:e.title,dl:e.location.origin+e.location.pathname+e.location.search,ul:c.language?
      (f.language||"").toLowerCase():void 0,de:c.characterSet?e.characterSet:void 0,
      sr:c.screenSize?(a.screen||{}).width+"x"+(a.screen||{}).height:void 0,vp:c.screenSize&&
      a.visualViewport?(a.visualViewport||{}).width+"x"+(a.visualViewport||{}).height:void 0,
      ec:s||void 0,ea:t||void 0,el:u||void 0,ev:v||void 0,exd:w||void 0,exf:"undefined"!=typeof x&&
      !1==!!x?0:void 0});if(f.sendBeacon)f.sendBeacon(z,A);else{var y=new XMLHttpRequest;
      y.open("POST",z,!0),y.send(A)}};d.pushState=function(r){return"function"==typeof d.onpushstate&&
      d.onpushstate({state:r}),setTimeout(n,c.delay||10),i.apply(d,arguments)},n(),
      a.ma={trackEvent:function o(r,s,t,u){return n("event",r,s,t,u)},
      trackException:function q(r,s){return n("exception",null,null,null,null,r,s)}}})
      (window,"UA-41336003-3",{anonymizeIp:true,colorDepth:true,characterSet:true,screenSize:true,language:true});
    </script>
  </head>

  <body class="bg-grey-lightest max-w-md p-8 pt-0 m-auto">
    <header class="mt-20">
      <h1 class="-m-1 font-logo font-normal text-4xl leading-none">
        <a href="{{ '/' | url }}" class="no-underline text-inherit">uknmr</a>
      </h1>
    </header>

    <main>
      {{ content | safe }}
    </main>

    <footer class="mt-32">
      <p class="text-xs text-center">このサイトは <a href="https://www.11ty.io/">Eleventy</a> でつくり、<a href="https://pages.github.com/">GitHub Pages</a> にのせています。<a href="https://github.com/uknmr/uknmr.github.io">GitHub</a> にソースコードがあります。</p>
    </footer>
  </body>
</html>