---
layout: base
permalink: "blog/{{ page.fileSlug }}.html"
---

<article class="post">
  <header>
    <p>
      <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    </p>
    <h1>{{ title }}</h1>
  </header>

  {{ content | safe }}
</article>
