---
layout: base
permalink: "blog/{{ page.fileSlug }}.html"
---

<article class="blog-body">
  <h1 class="mt-32 text-4xl font-sans font-black tracking-tight">{{ title }}</h1>

  <footer class="mt-1">
    <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </footer>

  {{ content | safe }}
</article>
