---
layout: base
permalink: "blog/{{ page.fileSlug }}.html"
---

<article class="blog-body">
  <h1 class="mt-32 text-4xl font-sans font-black leading-tight tracking-tight">{{ title }}</h1>

  <footer class="mt-1 leading-none">
    <time datetime="{{ page.date | htmlDateString }}" class="font-sans text-sm text-grey-darker">{{ page.date | readableDate }}</time>
  </footer>

  {{ content | safe }}
</article>
